<template>
    <v-container>
        <!-- селект для выбора фильтров -->
        <v-select
            label="Фильтр"
            :items="optionsFilter"
            item-title="text"
            item-value="value"
            v-model="selectFilter"
        ></v-select>
        <!-- предупреждение об отсутсвии выбранного фильтра -->
        <v-alert
            v-if="warning"
            density="compact"
            type="warning"
            title="Пожалуйста, выберите фильтр"
        ></v-alert>
        <!-- поисковая строка по данным из таблицы -->
        <v-text-field
            v-model="search"
            prepend-inner-icon="mdi-magnify"
            label="Search"
            single-line
            hide-details
        ></v-text-field>
        <!-- таблица -->
        <v-data-table
            :headers="headers"
            :items="tableData"
            class="elevation-1"
            :search="search"
            :custom-filter="filter"
            >
            <!-- столбец со ссылкой на документ -->
            <template #[`item.vri_id`]="{ item }">
                <a target="_blank" :href="`/results/${item.value.vri_id}`" style="text-decoration: none;" >
                    <v-btn color="white" size="small">
                        Перейти
                    </v-btn>
                </a>
            </template>
        </v-data-table>
    </v-container>
</template>

<script>
import {func} from '../helper'
import axios from 'axios'
export default {
    data () {
      return {
        warning: false,
        search: '',
        headers: [
          {
            title: '№ в гос. реестре',
            align: 'start',
            key: 'si_number',
          },
          { title: 'Наименование СИ', key: 'si_name', sortable: false },
          { title: 'Обозначение типа СИ', key: 'si_designation', sortable: false },
          { title: 'Заводской №', key: 'number', sortable: false },
          { title: 'Год выпуска', key: 'year', sortable: false },
          { title: 'УШЗП', key: 'sign' },
          { title: 'Тип поверки', key: 'vritype_id', sortable: false },
          { title: 'Дата поверки', key: 'verification_at', sortable: false },
          { title: 'Пригодность', key: 'applicability', sortable: false },
          { title: 'Протокол', key: 'protocol', sortable: false },
          { title: 'Свидетельство/Извещение', key: 'certnotice', sortable: false },
          { title: 'Детали', key: 'vri_id', sortable: false }
        ],
        tableData: [],
        optionsFilter: [
            { text: 'Общее поле фильтрации по "Наименование СИ", "Заводской №", "Свидетельство/Извещение"', value: 'multicolumn' },
            { text: '№ в гос. реестре', value: 'si_number' },
            { text: 'УШЗП', value: 'sign' },
            { text: 'Обозначение типа СИ', value: 'si_designation' },
            { text: 'Тип поверки', value: 'vritype_id' }
        ],
        selectFilter: '',
        
      }
    },
    mounted(){
        axios.get('http://testapi.r1i.lan-sevice.com/api/results/all', {
        headers: {
            'App-Key': 'S0lk65CPBj5HEhbEGVWU2ZCgpzXl'
        }
        }).then(response => {
            this.tableData = response.data.items;
            // редактирование данных по условию
            this.tableData.forEach(element => {
                func.TableFieldsRename(element)
            });
        })
    },
    methods: {
        filter (value, query, filter) {
            // валидация на отсутсвие фильтров
            if (this.selectFilter == '') {
                this.warning = true
                return 
            } else {
                this.warning = false
            }
            // фильтр по выбранному столбцу
            if (this.selectFilter != 'multicolumn') {
                let itemFilter = filter.raw[this.selectFilter].toLowerCase()
                if (itemFilter.includes(query.toLowerCase())) {
                    return true
                } else {
                    return false
                }
            // фильтр по трем столбцам
            } else {
                if (filter.raw.si_name.toLowerCase().includes(query.toLowerCase()) || 
                    filter.raw.number.toLowerCase().includes(query.toLowerCase()) || 
                    filter.raw.certnotice.toLowerCase().includes(query.toLowerCase())) {
                    return true
                } else {
                    return false
                }
            }  
        }
    }
}
</script>
