<template>
    <v-container>
        <v-card elevation="1" tile>
            <v-container>
                <v-card-title class="text-h4">
                    Карточка
                </v-card-title>
                <!-- подробная карточка -->
                <v-card-text><b>Вн. № СИ в гос. реестре:</b> {{ result.si_id }}
                    <br/><b> № в гос. реестре:</b> {{ result.si_number }}
                    <br/><b> Наименование СИ:</b> {{ result.si_name }}
                    <br/><b> Обозначение типа СИ:</b> {{ result.si_designation }}
                    <br/><b> Рег. номер:</b> {{ result.reg_number }}
                    <br/><b> Модификация:</b> {{ result.modification }}
                    <br/><b> Заводской №:</b> {{ result.number }}
                    <br/><b> Год выпуска:</b> {{ result.year }}
                    <br/><b> Поверитель:</b> {{ result.verifier }}
                    <br/><b> УШЗП:</b> {{ result.sign }}
                    <br/><b>Владелец:</b> {{ result.owner }}
                    <br/><b>Тип поверки:</b> {{ result.vritype_id }}
                    <br/><b>Дата поверки:</b> {{ result.verification_at }}
                    <br/><b>Поверен по:</b> {{ result.valid_until }}
                    <br/><b>Методика:</b> {{ result.methodology }}
                    <br/><b>Пригодность:</b> {{ result.applicability }}
                    <br/><b>Протокол:</b> {{ result.protocol }}
                    <br/><b>Свидетельство:</b> {{ result.certnotice }}
                    <br/><b>Поверка в сокращённом виде:</b> {{ result.brief }}
                    <br/><b>Актуальность данных:</b> {{ result.updated_at }}
                </v-card-text>
                <a :href="`/`" style="text-decoration: none;" >
                    <v-btn color="white">
                        К таблице
                    </v-btn>
                </a>
            </v-container>
        </v-card>
    </v-container>
</template>

<script>
import {func} from '../helper'
import axios from 'axios'
export default {
    data(){
        return{
            result: {}
        }
    },
    mounted(){
        // получаем vri_id из url
        let resultId = location.href.split('/')[4]
        axios.get(`http://testapi.r1i.lan-sevice.com/api/results/${resultId}`, {
        headers: {
            'App-Key': 'S0lk65CPBj5HEhbEGVWU2ZCgpzXl'
        }
        }).then(response => {
            this.result = response.data
            // редактирование данных по условию
            func.DocumentFieldsRename(this.result)
        })
    }
}
</script>

<!-- стили для этой страницы с небольшим форматированием текста -->
<style scoped>
    *{
        font-size: 16px;
        line-height: 2.25rem;
    }
</style>
