<template>
  <v-app>
    <v-main>
      <router-view/>
    </v-main>
  </v-app>
</template>

<script>
  export default {
      watch: {
          $route: {
              immediate: true,
              handler(to) {
                  document.title = to.name
              }
          },
      }
  };
</script>
